In [1]:
import pymysql

In [2]:
connector=pymysql.connect(host='localhost',port=3306,
                         user='root',passwd='123456789',
                         db='sample',
                         cursorclass=pymysql.cursors.DictCursor)

In [3]:
cursor= connector.cursor()  #db에 명령을 때려줄 객체

In [4]:
cursor.execute('Select * from 상품')

3

상품 table의 행과 열을 임의로 추가하고 변경해보세요

In [5]:
insert into 상품 value()

SyntaxError: invalid syntax (<ipython-input-5-d245b70852c7>, line 1)

In [6]:
item=cursor.fetchone() # 하나 읽음
item

{'상품코드': '0001', '상품명': '상품1', '메이커명': '메이커1', '가격': 100, '상품분류': '식료품'}

In [7]:
item_table=cursor.fetchall()   # 모두 읽어들임
item_table

[{'상품코드': '0002', '상품명': '상품2', '메이커명': '메이커2', '가격': 200, '상품분류': '식료품'},
 {'상품코드': '0003', '상품명': '상품3', '메이커명': '메이커3', '가격': 1980, '상품분류': '생활용품'}]

In [8]:

movie_df=pd.read_csv('dataset/movies.csv')
movie_df.head()

NameError: name 'pd' is not defined

-table의 column명까지 읽어 들이고 싶다면?
-->connector를 선언할 때,
cursorclass를 DictCursor로 지정해줘야한다.

Quiz) item_table을 dataframe으로 저장해보세요

In [9]:
import pandas as pd
item_table_df=pd.DataFrame(item_table)
item_table_df

     가격  메이커명  상품명  상품분류  상품코드
0   200  메이커2  상품2   식료품  0002
1  1980  메이커3  상품3  생활용품  0003

dataframe을 sql로 저장하고 싶다면?

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\envs\finance\lib\site-packages (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pymysql.install_as_MySQLdb()

In [12]:
import MySQLdb
from sqlalchemy import create_engine

In [17]:
create_engine('mysql+mysqldb://(username):(password)@(server주소)/(db명)',encoding='utf8')     #특정 호스트에 엔진을 만들어둠

engine=create_engine('mysql+mysqldb://root:'+'123456789'+'@localhost/sample',encoding='utf-8')       #커넥트

conn=engine.connect()

In [18]:
movie_df.to_sql(name = 'movie_table', con = engine)

NameError: name 'movie_df' is not defined