In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [12]:
boston = load_boston()
boston.feature_names
#R-square(상관계수)결과 값 중 관계와 거리가 멀어 보이는 값도 반영하기 위해 사용, (cf---adjusted R square)

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [3]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.DataFrame(boston.target, columns=['price'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [4]:
X_train.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
118,0.13058,0.0,10.01,0.0,0.547,5.872,73.1,2.4775,6.0,432.0,17.8,338.63,15.37
426,12.24720,0.0,18.10,0.0,0.584,5.837,59.7,1.9976,24.0,666.0,20.2,24.65,15.69
111,0.10084,0.0,10.01,0.0,0.547,6.715,81.6,2.6775,6.0,432.0,17.8,395.59,10.16

In [5]:
y_train.head(3)

     price
118   20.4
426   10.2
111   22.8

In [6]:
model = LinearRegression()

In [13]:
model_lr = model.fit(X_train, y_train)
                    #feature, price----fitting

#### accuracy 측정 방법 (1) : R-square

In [8]:
model.score(X_test, y_test)
#adjusted R square

0.7412303724253304

#### 생각해 보기 : score() 함수의 내부 동작

In [9]:
y_pred = np.reshape(model.predict(X_test), (1,-1))[0]
y_test = np.array(y_test)
y_test = np.reshape(y_test, (1, -1))[0]    #y-hat
corr = np.corrcoef(y_pred, y_test)[0,1]
R2 = corr ** 2   # 단순 R2 : 의미없는 feature가 늘어나도, R2는 증가함. R2의 문제점.
print(R2)

# 수정된 R2 -- model.score() 결과와 일치함.
sse = np.sum((y_test - y_pred) ** 2) #Sum of Square Error
sst = np.sum((y_test - y_test.mean()) ** 2) 
AR2 = 1 - sse / sst
print(AR2)
#              -위의 모델 R**2와 값이 같디ㅏ. score는 단순한 R2가 아니라 수정된 R2를 쓴ㄷ나.
#              -

0.7438675611601763
0.7412303724253304

In [10]:
y_test.mean()

22.176470588235293

#### accuracy 측정 방법 (2) : Mean square error

In [11]:
rmse = np.sqrt(np.mean((y_pred - y_test) ** 2))
print(rmse)

4.068543397536029