Key 와 Value
데이터 간에 순서가 존재하지 않는다.

In [ ]:
ardino = {'movie': 'Eterneal Sunshine', 'food': 'Chicken', }

In [1]:
data = dict(name='Matthew', age=30, job='free')

In [2]:
type(data)

dict

In [3]:
len(data)

3

In [4]:
data.keys()

dict_keys(['name', 'age', 'job'])

In [5]:
data.values()

dict_values(['Matthew', 30, 'free'])

In [6]:
data.items()

dict_items([('name', 'Matthew'), ('age', 30), ('job', 'free')])

#### Indexing

In [7]:
data['name']

'Matthew'

#### Data 추가하기 및 변경하기

In [8]:
data['age'] = 25
data

{'name': 'Matthew', 'age': 25, 'job': 'free'}

기존에 이미 Key 값이 있었는지 없었는 지는 don't care

In [9]:
data['major'] = 'Information and Communications Engineering'

In [10]:
data['major']

'Information and Communications Engineering'

- 리스트 -> 튜플: tuple(a) / 튜플 -> 리스트 : list(a)
- 리스트, 튜플 -> 딕셔너리: dict(a)

In [17]:
a = [('man', '알라딘'), ('item', '램프'), ('women', '자스민'), ('Angel', '지니')]

In [18]:
a

[('man', '알라딘'), ('item', '램프'), ('women', '자스민'), ('Angel', '지니')]

In [19]:
type(a)

list

In [20]:
a = dict(a)

In [21]:
a

{'man': '알라딘', 'item': '램프', 'women': '자스민', 'Angel': '지니'}

In [22]:
type(a)

dict

data 안에 "name"이라는 key 값이 있나 궁금?

In [23]:
"name" in data

True

In [24]:
"Name" in data

False

data를 복사하고 싶으면?

In [51]:
data_copy = data
data_copy

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering'}

In [52]:
data_copy['address'] = ['Seoul']
data_copy

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul']}

In [53]:
data

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul']}

In [54]:
data_copy['address']

['Seoul']

In [55]:
data_copy['address'].append('Seodaemun-gu')

In [56]:
data_copy

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu']}

In [57]:
data

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu']}

### 얕은 복사
### data_copy = data 했을 때
### 원본 데이터에도 변화가 일어남

In [59]:
data_copy2 = dict(data)
data_copy2

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu']}

In [60]:
data_copy2['address'].append('Doosan')

In [61]:
data

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu', 'Doosan']}

In [72]:
abc = [1,2,3,4,5]

In [73]:
abc_copys = abc[2:]

In [74]:
abc_copyd = abc[3:].copy()

In [75]:
abc_copys

[3, 4, 5]

In [76]:
abc_copys.append(1)

In [77]:
abc_copys

[3, 4, 5, 1]

In [78]:
abc

[1, 2, 3, 4, 5]

In [79]:
abc_copyd.append(123)

In [80]:
abc_copyd

[4, 5, 123]

In [81]:
abc

[1, 2, 3, 4, 5]

In [82]:
import copy # 오픈소스 라이브러리

In [83]:
data_copy3 = copy.deepcopy(data)
data_copy3

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu', 'Doosan']}

In [84]:
data_copy3['address'].remove('Doosan')
data_copy3['address']

['Seoul', 'Seodaemun-gu']

In [85]:
data

{'name': 'Matthew',
 'age': 25,
 'job': 'free',
 'major': 'Information and Communications Engineering',
 'address': ['Seoul', 'Seodaemun-gu', 'Doosan']}

In [86]:
asdf = {}

In [87]:
type(asdf)

dict

In [88]:
asdf = {1}

In [89]:
type(asdf)

set

In [90]:
data_set = set()

In [91]:
data_set

set()