# Tuple & Set

## Tuple (튜플)

### 중대발표
사실, tuple은 괄호를 씌울 필요가 없다.

Quiz)

a=오렌지주스. b=파인애플주스 
-> a=파인애플주스, b=오렌지주스로 바꾸고 싶다면?

In [1]:
a = 오렌지주스

NameError: name '오렌지주스' is not defined

In [4]:
a = '오렌지주스'

In [5]:
b = '파인애플주스'

In [8]:
a,b = b,a

In [9]:
a

'파인애플주스'

In [10]:
b

'오렌지주스'

형변환?!

list -> tuple   
tuple -> list

In [11]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a = tuple(a)

In [12]:
a

('알라딘', '자스민', '지니', '마법양탄자', '램프')

In [13]:
type(a)

tuple

In [14]:
a= list(a)

In [15]:
a

['알라딘', '자스민', '지니', '마법양탄자', '램프']

## Set (집합)

tuple이 소괄호였다면, set은 중괄호이다.

In [16]:
#리스트, 튜플과 비교
a_list = ['참치', '샐러드', '치즈', '떡갈비']
a_tuple = ('참치', '샐러드', '치즈', '떡갈비')
a_set = {'참치', '샐러드', '치즈', '떡갈비'}

In [17]:
a_set, type(a_set)

({'떡갈비', '샐러드', '참치', '치즈'}, set)

In [18]:
a_set.append('돈까스') # 추가 안됨

AttributeError: 'set' object has no attribute 'append'

### 특징
set(집합)은 중복을 허락하지 않는다!

In [20]:
number = {1,2,3,4,5,1,2,3,4,5}
number

{1, 2, 3, 4, 5}

따라서, (리스트에서) 중복을 제거하고 싶을 때 set을 사용한다.

In [22]:
number = [1,2,3,4,5,1,2,3,4,5]
number

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [23]:
number = set(number)

In [24]:
number

{1, 2, 3, 4, 5}

In [25]:
number = list(number)

In [26]:
number

[1, 2, 3, 4, 5]

In [28]:
number = [1,5,2,4,5,1,2,3,4,5]
number = list(set(number))
number

[1, 2, 3, 4, 5]

- set은 순서가 없다. 즉, index가 존재하지 않는다.   
-> 그 말은.... 중복 없애주고 sorting 도 되네 ㄷㄷ    
- set은 변환할 수 있다.(add, update, remove, discard)

number[0] #indexing 기능이 없다.

In [29]:
movie = {'원스', '이터널선샤인', '어바웃타임', '시네마천국'}

In [30]:
movie

{'시네마천국', '어바웃타임', '원스', '이터널선샤인'}

In [35]:
movie.add('신세계')

In [36]:
movie

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인'}

movie.remove('신세계')
movie

In [37]:
movie.discard('신세계')
movie

{'시네마천국', '어바웃타임', '원스', '이터널선샤인'}

In [38]:
movie.update(['신세계', '인셉션'])
movie

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인', '인셉션'}

## 합집합, 교집합, 차집합!!!

In [39]:
movie2 = {'이터널선샤인', '어바웃타임', '인피니티워', '해리포터:마법사의 돌'}

In [45]:
movie | movie2  # movie.union(movie2): 합집합

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인', '인셉션', '인피니티워', '해리포터:마법사의 돌'}

In [46]:
movie & movie2  # movie.intersection(movie2): 교집합

{'어바웃타임', '이터널선샤인'}

In [47]:
movie2 - movie # movie.difference(movie2): 차집합

{'인피니티워', '해리포터:마법사의 돌'}

In [44]:
movie^movie2 # 대칭차집합

{'시네마천국', '신세계', '원스', '인셉션', '인피니티워', '해리포터:마법사의 돌'}