# Function

In [3]:
def sample_1(): #함수 정의 ; sample_1이라는 함수
    THI = int(input('불쾌지수:'))
    SI = int(input('졸림지수:'))

    if THI >= 5:
        if SI >= 5:
            print("Home")
        else:
            print("DalDal")
    else:
        if SI >= 5:
            print('Sleep')
        else:
            print("study")

- 위의 코드를 재사용하고 싶다면?

- 드래그? No! 함수! Yes!

In [4]:
sample_1() #함수 호출

불쾌지수:4
졸림지수:5
Sleep

In [6]:
print() #사실 print도 함수였다.

### 함수의 종류(4종류)
1. input x, output x
2. input o, output x
3. input x, output o
4. input o, output o

In [8]:
def sample_2(num1, num2): # 함수 안에서 사용하는 변수(지역변수)는 "명시적"으로 사용하자!
    add = num1 + num2
    print('{0} + {1} = {2}'.format(num1, num2, add))

In [9]:
a = 1 #전역변수
b = 2
sample_2(a, b)

1 + 2 = 3

In [10]:
def sample_3():
    name = input('너 이름이 뭐니?')
    return name

In [12]:
data = sample_3()
data

너 이름이 뭐니?dino

'dino'

In [13]:
def sample_4(name, age):
    data = [name, age]
    return data

In [15]:
info = sample_4('dino', 29)

print(info)

['dino', 29]

#### lambda 함수

In [1]:
even = lambda x: x%2 == 0

In [3]:
even(3)

False

In [4]:
add_10 = lambda x: x+10

In [5]:
add_10(10)

20

In [6]:
mul_xy = lambda x, y: x*y

In [7]:
mul_xy(10, 20)

200

Quiz) a, b, c를 인자로 하는 lambda함수를 만들되, (a * b)의 c 제곱 을 리턴하도록 만들어보세요.

In [8]:
abc = lambda a, b, c: (a*b)**c

In [9]:
abc(4, 5, 6)

64000000

#### 가변인자 함수

In [5]:
def func_1(name, age, hobby):
    print(name, age, hobby)
    
func_1('dino', 29, 'song')

dino 29 song

In [14]:
data = ['dino', 29, 'song', 'skydiving']

def func_2(*data):
    print(data)
    print(type(data))
    
func_2(*data)

# func_2(1, 2, 3, 4, 5, 6)

('dino', 29, 'song', 'skydiving')
<class 'tuple'>

In [20]:
data = {'name': 'dino', 'age': 29,
        'hobby': 'song', 'bucket':'skydiving'}

def func_3(**data):
#     print(**data) #불가
#     print(*data)
    print(data) # dictionary
#     print(data['name'])
#     print(data.keys())
#     print(data.values())
#     print(data.items())

func_3(**data)

func_3(a=1, b=2, c=3)

name age hobby bucket
{'name': 'dino', 'age': 29, 'hobby': 'song', 'bucket': 'skydiving'}
a b c
{'a': 1, 'b': 2, 'c': 3}

#### 내장함수

In [48]:
a = [1, 2, 3, 4]

len(a)

4

In [49]:
sum(a)

10

In [52]:
avg = sum(a)/len(a)
avg

2.5

In [53]:
max(a)

4

In [54]:
min(a)

1

In [55]:
spo = 'i am iron-man'

spo.split()

['i', 'am', 'iron-man']

- strip() : 양 옆의 \n와 ' '를 벗겨냄

In [59]:
spo = '   \ni am iron-man\n\n   '
print('{} -> {}'.format(spo, spo.strip()))

i am iron-man

    -> i am iron-man

In [67]:
spo = '**  ***i am iron-man***  **'
print('{} -> {}'.format(spo, spo.strip('*'))) #중간의 *은 못없앰
print('{} -> {}'.format(spo, spo.strip('* ')))
print('{} -> {}'.format(spo, spo.strip(' *')))#순서 상관 X

**  ***i am iron-man***  ** ->   ***i am iron-man***
**  ***i am iron-man***  ** -> i am iron-man
**  ***i am iron-man***  ** -> i am iron-man

Quiz) '***\n  hulk, thor, iron-man  \n'을  
[hulk, thor, iron-man]으로 만들어보세요.

In [94]:
data = '***\n hulk, thor, iron-man \n'

data = data.strip('*\n ')
data

'hulk, thor, iron-man'

In [106]:
data = data.split(', ') #split('기준')

- ['hulk', 'thor', 'iron-man']를 다시 하나의 문자열 'hulk, thor, iron-man'로 바꾸고싶다면?

In [107]:
", ".join(data)

'hulk, thor, iron-man'

- 가운데 있는 문자를 없애고 싶다면?

In [108]:
data = '***\n hulk, \nthor, \niron-man \n'

data = data.strip('*\n ')

In [109]:
data = data.replace("\n", '')
data

'hulk, thor, iron-man'

In [110]:
data = '***\n hulk, \nthor, \niron-man \n'

data = data.lstrip('*\n ')
data

'hulk, \nthor, \niron-man \n'

In [111]:
data = data.rstrip('*\n ')
data

'hulk, \nthor, \niron-man'

In [147]:
data = 'multicampus'
data.find('c', 6)

-1

In [148]:
data.count('m')

2

In [149]:
data.upper()

'MULTICAMPUS'

In [150]:
data.lower()

'multicampus'

In [151]:
data.isupper()

False

In [152]:
data.islower()

True

#### 전역변수와 지역변수  
  
- 전역변수 : 함수 밖의 변수
- 지역변수 : 함수 안의 변수
  
  둘의 차이는 변수의 유효범위!!

In [136]:
a, b = 5, 10

def f_1():
    a = 100
    print(a) #100 = 지역변수 a
    print(b)
    
def f_2():
    global a
    a = 10
    print(a)

In [137]:
f_1()

100
10

In [138]:
f_2()

10

In [140]:
print(a) #f_2()호출한 다음이기 때문에, a=10으로 업데이트

10

In [21]:
a = 1
a

1

In [28]:
def f_1():
    a = 1
    b = 3
    return a, b

data = f_1() # data <- a
data

(1, 3)

In [ ]:
num=[]
for i in range(10):
    num =int(input())
    numlist.append(num)

In [ ]:
num_list

def square(num):
    print(type(num))
    result_list=[]
    for n in num
        result_list.append(n**2)
    return result_list

In [ ]:
value=square(num_list)
value