In [1]:
import time

In [2]:
time.time() #현재 시각 -> 코드수행시간 체크할때

1559104537.1918178

In [3]:
time.time()

1559104545.4478662

In [7]:
start = time.time()
start

1559104813.1644714

In [16]:
for i in range(10000):
    a = i * 10
    if i%1000 == 0:
        print('{} = {} X 10'.format(a, i))

0 = 0 X 10
10000 = 1000 X 10
20000 = 2000 X 10
30000 = 3000 X 10
40000 = 4000 X 10
50000 = 5000 X 10
60000 = 6000 X 10
70000 = 7000 X 10
80000 = 8000 X 10
90000 = 9000 X 10

In [9]:
end = time.time()

print('time: {}'.format(end - start))

time: 2.710245370864868

In [10]:
time.time()

1559104898.6277647

In [73]:
present = time.localtime(time.time())
present

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=29, tm_hour=14, tm_min=23, tm_sec=37, tm_wday=2, tm_yday=149, tm_isdst=0)

In [18]:
present.tm_year

2019

In [19]:
'{}h {}m {}s'.format(present.tm_hour, present.tm_min,
                     present.tm_sec)

'4h 45m 43s'

In [20]:
import datetime

In [22]:
present = datetime.datetime.now()
present

datetime.datetime(2019, 5, 29, 13, 48, 34, 900805)

In [23]:
present.year, present.month, present.day

(2019, 5, 29)

In [31]:
present.hour, present.minute, present.second, present.microsecond

(13, 48, 34, 900805)

In [26]:
present.weekday()

2

In [29]:
present.strftime("%Y-%m(%B)-%d(%A) %H:%M:%S")

'2019-05(May)-29(Wednesday) 13:48:34'

In [43]:
present.date()

datetime.date(2019, 5, 29)

In [44]:
present.time()

datetime.time(13, 48, 34, 900805)

In [47]:
birth = datetime.datetime.strptime("1989-09-24 00:15:30"
                                   ,"%Y-%m-%d %H:%M:%S")
birth

datetime.datetime(1989, 9, 24, 0, 15, 30)

In [58]:
from dateutil.relativedelta import *

In [68]:
first = datetime.datetime.strptime("2018-11-17 19:55:34",
                                  "%Y-%m-%d %H:%M:%S")
first

datetime.datetime(2018, 11, 17, 19, 55, 34)

In [72]:
D_1000 = first + relativedelta(days=+199)
D_1000

datetime.datetime(2019, 6, 4, 19, 55, 34)

In [70]:
today = present - first
print('오늘은 우리가 만난지 {}일째'.format(today.days))

오늘은 우리가 만난지 192일째