In [1]:
index_cd = 'KPI200'
page_n = 1
naver_index = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
print(naver_index)

https://finance.naver.com/sise/sise_index_day.nhn?code=KPI200&page=1

In [2]:
from urllib.request import urlopen
source = urlopen(naver_index).read()

In [7]:
print(source[:200])

b'\n\n\n\n\n\n\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>\xb3\xd7\xc0\xcc\xb9\xf6 \xb1\xdd\xc0\xb6</title>\n<link rel="stylesheet" type="text/css" href="/css/newstock.css?2019061111'

In [9]:
import bs4
source = bs4.BeautifulSoup(source, 'lxml')

In [10]:
print(source.prettify())

<html lang="ko">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   네이버 금융
  </title>
  <link href="/css/newstock.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/common.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/layout.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock2.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock3.css?20190611114409" rel="stylesheet" type="text/css"/>
  <link href="/css/world.css?20190611114409" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <script src="/js/jindo.min.ns.1.5.3.euckr.js?20190611114409" type="text/javascript">
  </script>
  <script src="/js/lcslog.js?20190611114409" type="text/javascript">
  </script>
  <!-- 일별시세 -->
  <div class="box_type_m">
   <h4 class="top_tlt" style="text-align:left;">
    <em>
     일별
    </em>
    시세
   </h4>
   <table cellpadding="0" cellspacing="0" class="type_1" summary="일별 시세표:날짜에 따른 체결가 전일비 등락률 거래량 거래대금 정보를 제공합니다.">
    <caption>
     일별시세
    </caption>
    <col width="15%"/>
    <col width="14%"/>
    <col width="18%"/>
    <col width="14%"/>
    <col width="*"/>
    <col width="18%"/>
    <tr>
     <th>
      날짜
     </th>
     <th>
      체결가
     </th>
     <th>
      전일비
     </th>
     <th>
      등락률
     </th>
     <th>
      거래량
      <span class="add_txt">
       (천주)
      </span>
     </th>
     <th>
      거래대금
      <span class="add_txt">
       (백만)
      </span>
     </th>
    </tr>
    <tr>
     <td class="blank_07" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.06.24
     </td>
     <td class="number_1">
      275.64
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       0.16
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.06%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      41,659
     </td>
     <td class="number_1" style="padding-right:30px;">
      1,658,126
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.06.21
     </td>
     <td class="number_1">
      275.48
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       0.53
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.19%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      75,383
     </td>
     <td class="number_1" style="padding-right:30px;">
      3,193,828
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.06.20
     </td>
     <td class="number_1">
      276.01
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       0.70
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.25%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      54,294
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,354,829
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
    </tr>
    <tr>
     <td class="date">
      2019.06.19
     </td>
     <td class="number_1">
      275.31
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       3.95
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +1.46%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      67,908
     </td>
     <td class="number_1" style="padding-right:30px;">
      3,041,553
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.06.18
     </td>
     <td class="number_1">
      271.36
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       1.27
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.47%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      59,172
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,591,254
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.06.17
     </td>
     <td class="number_1">
      270.09
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       0.39
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.14%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      51,920
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,302,253
     </td>
    </tr>
    <tr>
     <td class="blank_09" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 시작--->
   <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
    <caption>
     페이지 네비게이션
    </caption>
    <tr>
     <td class="on">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=1">
       1
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=2">
       2
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=3">
       3
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=4">
       4
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=5">
       5
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=6">
       6
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=7">
       7
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=8">
       8
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=9">
       9
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=10">
       10
      </a>
     </td>
     <td class="pgR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=11">
       다음
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
      </a>
     </td>
     <td class="pgRR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=555">
       맨뒤
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
      </a>
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 끝--->
  </div>
  <!-- //일별시세 -->
  <script type="text/javascript">
   ;(function(){
        var eventType = "onpageshow" in window ? "pageshow" : "load";
        jindo.$Fn(function(){
            lcs_do();
        }).attach(window, eventType);
    })();
  </script>
 </body>
</html>

In [11]:
td = source.find_all('td')
len(td)

54

In [14]:
# /html/body/div/table[1]/tbody/tr[3]/td[1]
source.find_all('table')[0].find_all('tr')[2].find_all('td')[0]

In [16]:
d = source.find_all('td', class_ = 'date')[0].text
d

'2019.06.24'

In [17]:
import datetime as dt

In [18]:
yyyy = int(d.split('.')[0])
mm = int(d.split('.')[1])
dd = int(d.split('.')[2])
this_date = dt.date(yyyy, mm, dd)
this_date

datetime.date(2019, 6, 24)

In [20]:
def date_format(d):
    d = str(d).replace('-', '.')
    yyyy = int(d.split('.')[0])
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])
    this_date = dt.date(yyyy, mm, dd)
    return this_date

In [21]:
date_format(d)

datetime.date(2019, 6, 24)

In [23]:
# /html/body/div/table[1]/tbody/tr[3]/td[2]
this_close = source.find_all('tr')[2].find_all('td')[1].text
this_close = this_close.replace(',', '')
this_close = float(this_close)
this_close

275.64

In [24]:
dates = source.find_all('td', class_='date')
prices = source.find_all('td', class_='number_1')
len(dates)

6

In [25]:
len(prices)

24

In [27]:
for n in range(len(dates)):
    this_date = dates[n].text
    this_date = date_format(this_date)
    
    this_close = prices[n * 4].text
    this_close = this_close.replace(',', '')
    this_close = float(this_close)
    print(this_date, this_close)

2019-06-24 275.64
2019-06-21 275.48
2019-06-20 276.01
2019-06-19 275.31
2019-06-18 271.36
2019-06-17 270.09

In [31]:
paging = source.find('td', class_='pgRR').find('a')['href']
print(paging)

/sise/sise_index_day.nhn?code=KPI200&page=555

In [32]:
paging = paging.split('&')[1]
paging

'page=555'

In [33]:
paging = paging.split('=')[1]
paging

'555'

In [34]:
source.find('td', class_='pgRR').find('a')['href'].split('=')[2]

'555'