In [35]:
import pandas as pd
from urllib.request import urlopen
import json

In [37]:
symbol = 'SPI@SPX'
page = 1

In [38]:
url = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol=' + symbol + '&fdtc=0&page=' + str(page)
raw = urlopen(url)
data = json.load(raw)

In [39]:
data[0]

{'symb': 'SPI@SPX',
 'xymd': '20190621',
 'open': 2952.71,
 'high': 2964.15,
 'low': 2946.87,
 'clos': 2950.46,
 'diff': -3.72,
 'rate': -0.13,
 'gvol': 3033185230}

In [41]:
data[0]['xymd']

'20190621'

In [42]:
data[0]['clos']

2950.46

In [44]:
d = dict()
for n in range(len(data)):
    date = pd.to_datetime(data[n]['xymd']).date()
    price = float(data[n]['clos'])
    d[date] = price
print(d)

{datetime.date(2019, 6, 21): 2950.46, datetime.date(2019, 6, 20): 2954.18, datetime.date(2019, 6, 19): 2926.46, datetime.date(2019, 6, 18): 2917.75, datetime.date(2019, 6, 17): 2889.67, datetime.date(2019, 6, 14): 2886.98, datetime.date(2019, 6, 13): 2891.64, datetime.date(2019, 6, 12): 2879.84, datetime.date(2019, 6, 11): 2885.72, datetime.date(2019, 6, 10): 2886.73}

In [47]:
def read_json(d, symbol, page=1):
    url = 'https://finance.naver.com/world/worldDayListJson.nhn?symbol=' + symbol + '&fdtc=0&page=' + str(page)
    raw = urlopen(url)
    data = json.load(raw)
    
    for n in range(len(data)):
        date = pd.to_datetime(data[n]['xymd']).date()
        price = float(data[n]['clos'])
        d[date] = price

    if len(data) == 10:
        page += 1
        read_json(d, symbol, page)
        
    return(d)

In [48]:
historical_index = pd.Series()
historical_index = read_json(historical_index, symbol, page)

In [49]:
historical_index

2019-06-21    2950.46
2019-06-20    2954.18
2019-06-19    2926.46
2019-06-18    2917.75
2019-06-17    2889.67
2019-06-14    2886.98
2019-06-13    2891.64
2019-06-12    2879.84
2019-06-11    2885.72
2019-06-10    2886.73
2019-06-07    2873.34
2019-06-06    2843.49
2019-06-05    2826.15
2019-06-04    2803.27
2019-06-03    2744.45
2019-05-31    2752.06
2019-05-30    2788.86
2019-05-29    2783.02
2019-05-28    2802.39
2019-05-24    2826.06
2019-05-23    2822.24
2019-05-22    2856.27
2019-05-21    2864.36
2019-05-20    2840.23
2019-05-17    2859.53
2019-05-16    2876.32
2019-05-15    2850.96
2019-05-14    2834.41
2019-05-13    2811.87
2019-05-10    2881.40
               ...
2002-02-13    1118.51
2002-02-12    1107.50
2002-02-11    1111.94
2002-02-08    1096.22
2002-02-07    1080.17
2002-02-06    1083.51
2002-02-05    1090.02
2002-02-04    1094.44
2002-02-01    1122.20
2002-01-31    1130.20
2002-01-30    1113.57
2002-01-29    1100.64
2002-01-28    1133.06
2002-01-25    1133.28
2002-01-24    1132.15
2002-01-23    1128.18
2002-01-22    1119.31
2002-01-18    1127.58
2002-01-17    1138.88
2002-01-16    1127.57
2002-01-15    1146.19
2002-01-14    1138.41
2002-01-11    1145.60
2002-01-10    1156.55
2002-01-09    1155.14
2002-01-08    1160.71
2002-01-07    1164.89
2002-01-04    1172.51
2002-01-03    1165.27
2002-01-02    1154.67
Length: 4401, dtype: float64