In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('./stockData/09.2 KOSPI200 F 201712.xlsx', 'Sheet1', index_col='일자')
df.head()

              선물가격      지수
일자
2017/09/01  308.40  307.78
2017/09/04  305.60  304.19
2017/09/05  304.85  304.06
2017/09/06  304.30  303.18
2017/09/07  308.10  306.97

In [15]:
df.tail()

              선물가격      지수
일자
2017-12-08  324.75  324.68
2017-12-11  324.85  325.09
2017-12-12  323.80  324.07
2017-12-13  326.20  326.18
2017-12-14  327.65  324.74

In [11]:
type(df.index)

pandas.core.indexes.base.Index

In [12]:
df.index = pd.to_datetime(df.index)

In [13]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [14]:
def futures_price(S, r, d, T, t0):
    t = np.busday_count(t0.date(), T.date()) / 252
    F = S * np.exp((r - d) * t)
    return F

In [24]:
T = pd.to_datetime('2017-12-14') # 최종 거래일 (선물 만기일)
r = 0.0225
d = 0.015
for n in df.index:
    t0 = n
    S = df.loc[n, '지수']
    F = futures_price(S, r, d, T, t0)
    f = '{:.2f}'.format(F)
    df.loc[n, '이론가'] = f

In [25]:
df.tail()

              선물가격      지수     이론가
일자
2017-12-08  324.75  324.68  324.72
2017-12-11  324.85  325.09  325.12
2017-12-12  323.80  324.07  324.09
2017-12-13  326.20  326.18  326.19
2017-12-14  327.65  324.74  324.74