In [1]:
# XOR 예시
import tensorflow as tf
import pandas as pd
import numpy as np

#inputX = [[0, 0], [0, 1], [1, 0], [1, 1]]   # input 데이터
#outputY = [[1], [0], [1], [0]]              # desired output 데이터

In [2]:
sm = pd.read_csv('./stockData/005930.csv', index_col=0, parse_dates=True)
sm = sm.sort_index() # 날짜 순으로 정렬한다
sm = sm.dropna()

In [3]:
sm.head()

             open   high    low  close  volume
date
2011-05-12  17720  18020  17660  17700  552942
2011-05-13  17920  18480  17800  18320  669154
2011-05-16  18340  18380  17960  18020  322905
2011-05-17  17940  17960  17780  17800  231293
2011-05-18  17860  17980  17720  17860  331824

In [4]:
sm.tail()

             open   high    low  close    volume
date
2019-06-19  45450  45450  45000  45350  10417690
2019-06-20  44850  45500  44850  45500   7147785
2019-06-21  45750  45800  45200  45700   9454913
2019-06-24  45200  45800  45200  45500   6085066
2019-06-25  45200  45800  45200  45450   4120726

In [5]:
sm['next close'] = sm['close'].shift(-1)

In [6]:
sm.head()

             open   high    low  close  volume  next close
date
2011-05-12  17720  18020  17660  17700  552942     18320.0
2011-05-13  17920  18480  17800  18320  669154     18020.0
2011-05-16  18340  18380  17960  18020  322905     17800.0
2011-05-17  17940  17960  17780  17800  231293     17860.0
2011-05-18  17860  17980  17720  17860  331824     17600.0

In [7]:
sm.tail()

             open   high    low  close    volume  next close
date
2019-06-19  45450  45450  45000  45350  10417690     45500.0
2019-06-20  44850  45500  44850  45500   7147785     45700.0
2019-06-21  45750  45800  45200  45700   9454913     45500.0
2019-06-24  45200  45800  45200  45500   6085066     45450.0
2019-06-25  45200  45800  45200  45450   4120726         NaN

In [25]:
testX = np.array(sm.iloc[-1:, 0:4])
testX

array([[45200, 45800, 45200, 45500]], dtype=int64)

In [8]:
sm = sm.dropna()

In [9]:
inputX = np.array(sm.iloc[:, 0:4])
inputX.shape

(1999, 4)

In [10]:
outputY = np.array(sm.loc[:, 'next close']).reshape(-1,1)

In [11]:
outputY

array([[18320.],
       [18020.],
       [17800.],
       ...,
       [45700.],
       [45500.],
       [45450.]])

In [12]:
nInput = 4      # input layer의 neuron 개수
nHidden = 6     # hidden layer의 neuron 개수
nOutput = 1     # output layer의 neuron 개수

In [43]:
# 그래프를 생성한다
tf.reset_default_graph()
x = tf.placeholder(tf.float32, shape=[None, nInput], name='x')
y = tf.placeholder(tf.float32, shape=[None, nOutput], name='y')

# hidden layer의 Weight (Wh)와 Bias (Bh)
Wh = tf.Variable(tf.truncated_normal([nInput, nHidden]), dtype=tf.float32, name='Wh')
Bh = tf.Variable(tf.zeros(nHidden), dtype=tf.float32, name='Bh')

# output layer의 Weight (Wo)와 Bias (Bo)
Wo = tf.Variable(tf.truncated_normal([nHidden, nOutput]), dtype=tf.float32, name='Wo')
Bo = tf.Variable(tf.zeros(nOutput), dtype=tf.float32, name='Bo')

# Hidden layer의 출력값. activation function은 sigmoid
H1 = tf.sigmoid(tf.matmul(x, Wh) + Bh, name='H1')

# Output layer의 출력값. activation function은 sigmoid
predY = tf.add(tf.matmul(H1, Wo), Bo, name='predY')

# Cost function 정의. cross-entropy 사용
clipY = tf.clip_by_value(predY, 0.000001, 0.99999)  # log(0)를 방지한다
cost = tf.reduce_mean(tf.square(tf.subtract(predY, y)))

# 학습
optimizer = tf.train.AdamOptimizer(0.05)
train = optimizer.minimize(cost)

In [44]:
# 그래프를 실행한다
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [47]:
# 인공신경망에 inputX, outputY를 1000번 집어 넣어서 학습 시킨다.
for i in range(100000):
    _, xcost = sess.run([train, cost], feed_dict={x: inputX, y: outputY})
    
    if i % 1000 == 0:
        print('cost = %.4f' % xcost)

cost = 252716608.0000
cost = 247957888.0000
cost = 243277024.0000
cost = 238673904.0000
cost = 234148656.0000
cost = 229701248.0000
cost = 225331648.0000
cost = 221039920.0000
cost = 216825920.0000
cost = 212698160.0000
cost = 208679504.0000
cost = 204737136.0000
cost = 200871104.0000
cost = 197081344.0000
cost = 193367840.0000
cost = 189730688.0000
cost = 186169792.0000
cost = 182685152.0000
cost = 179276928.0000
cost = 175944880.0000
cost = 172689264.0000
cost = 169509760.0000
cost = 166406736.0000
cost = 163379840.0000
cost = 160429360.0000
cost = 157555168.0000
cost = 154757168.0000
cost = 152035552.0000
cost = 149397232.0000
cost = 146853248.0000
cost = 144384064.0000
cost = 141989696.0000
cost = 139670048.0000
cost = 137425216.0000
cost = 135255168.0000
cost = 133159872.0000
cost = 131139352.0000
cost = 129193608.0000
cost = 127340232.0000
cost = 125561144.0000
cost = 123855296.0000
cost = 122222696.0000
cost = 120663392.0000
cost = 119182928.0000
cost = 117783960.0000
cost = 116456728.0000
cost = 115201304.0000
cost = 114025520.0000
cost = 112924240.0000
cost = 111893304.0000
cost = 110942320.0000
cost = 110060208.0000
cost = 109255072.0000
cost = 108520576.0000
cost = 107857960.0000
cost = 107266856.0000
cost = 106746184.0000
cost = 106294344.0000
cost = 105910208.0000
cost = 105591672.0000
cost = 105336744.0000
cost = 105142008.0000
cost = 105003224.0000
cost = 104914176.0000
cost = 104866104.0000
cost = 104846888.0000
cost = 104842480.0000
cost = 104842120.0000
cost = 104842072.0000
cost = 104842104.0000
cost = 104842120.0000
cost = 104842088.0000
cost = 104842096.0000
cost = 104842096.0000
cost = 104842080.0000
cost = 104842088.0000
cost = 104842072.0000
cost = 104842072.0000
cost = 104842072.0000
cost = 104842072.0000
cost = 104842080.0000
cost = 104842088.0000
cost = 104842080.0000
cost = 104842080.0000
cost = 104842072.0000
cost = 104842088.0000
cost = 104842088.0000
cost = 104842088.0000
cost = 104842088.0000
cost = 104842072.0000
cost = 104842096.0000
cost = 104842072.0000
cost = 104842088.0000
cost = 104842088.0000
cost = 104842088.0000
cost = 104842080.0000
cost = 104842080.0000
cost = 104842088.0000
cost = 104842072.0000
cost = 104842088.0000

In [46]:
# 학습이 완료되면, Wh, Bh, Wo, Bo 이 모두 업데이트 되었으면, inputX를 넣어서 출력값을 확인한다.
# 출력값은 inputY의 추정값이다.
yHat = sess.run(predY, feed_dict={x: testX})

print("\ny-추정치 = \n", yHat)
#sess.close()

y-추정치 =
 [[19815.006]]