In [125]:
import pandas as pd
import numpy as np
import tensorflow as tf

saveDir='./Saver/predictStock(reg).save'
saveFile=saveDir+'/save'

In [126]:
KT=pd.read_csv('./stockData/030200.csv',index_col=0, parse_dates=True)
                                     # 0번째 열 인덱스화  index 날짜를 파싱할까?
KT=KT.sort_index()
KT=KT.dropna()
KT=KT/10000

In [127]:
KT.tail()

             open   high    low  close   volume
date
2019-06-19  2.860  2.870  2.845  2.850  35.9243
2019-06-20  2.860  2.860  2.830  2.840  50.5181
2019-06-21  2.835  2.855  2.820  2.820  50.7850
2019-06-24  2.835  2.860  2.825  2.835  39.8871
2019-06-25  2.840  2.850  2.825  2.825  19.4735

In [128]:
KT['kta120'] = KT['close'].rolling(window=20).mean()      # window=120: 120일 이동평균  rolloing: 데이터 아래로 sliding    mean: 평균
KT['kta240'] = KT['close'].rolling(window=60).mean()      # 240일 이동평균

In [129]:
KT['last close']=KT['close'].shift(-1)
KT.tail()

             open   high    low  close   volume   kta120    kta240  last close
date
2019-06-19  2.860  2.870  2.845  2.850  35.9243  2.79950  2.772917       2.840
2019-06-20  2.860  2.860  2.830  2.840  50.5181  2.80525  2.773833       2.820
2019-06-21  2.835  2.855  2.820  2.820  50.7850  2.81075  2.774833       2.835
2019-06-24  2.835  2.860  2.825  2.835  39.8871  2.81550  2.775917       2.825
2019-06-25  2.840  2.850  2.825  2.825  19.4735  2.82000  2.776667         NaN

In [121]:
KT['class']= 0.0
KT.loc[KT['last close']> KT['close'], 'class']=1
KT=KT.drop('volume',axis=1)

In [132]:
KT=KT.sample(frac=1)
KT

,open,high,low,close,volume,kta120,kta240,last close
date,,,,,,,,
2014-02-25,2.920,2.995,2.920,2.985,109.8742,3.00950,3.079750,3.010
2017-10-25,2.980,2.995,2.960,2.960,58.6427,2.94500,3.133333,2.950
2016-08-01,3.220,3.265,3.200,3.260,85.5499,3.08725,3.090333,3.260
2017-06-15,3.160,3.215,3.150,3.165,40.6306,3.19675,3.197000,3.160
2012-03-29,3.215,3.220,3.160,3.170,150.3175,3.23700,3.292583,3.145
2012-07-26,3.285,3.325,3.275,3.295,85.1550,3.19450,2.996250,3.300
2019-05-08,2.780,2.865,2.775,2.845,214.4187,2.75350,2.784750,2.800
2016-05-26,3.200,3.225,3.175,3.195,46.0606,3.15475,3.021833,3.210
2012-10-22,3.480,3.500,3.460,3.495,46.9215,3.51700,3.451167,3.525
2013-12-10,3.020,3.030,2.990,2.995,141.4931,3.22925,3.440667,3.055
2013-04-01,3.530,3.530,3.495,3.515,25.6134,3.61425,3.641083,3.535
2015-10-23,3.065,3.085,3.055,3.060,52.5196,3.03600,2.981583,3.070
2015-02-17,2.945,3.015,2.930,3.000,150.3690,2.96225,3.090500,3.060
2018-05-21,2.735,2.750,2.730,2.735,23.1379,2.73050,2.746333,2.725
2012-03-05,3.290,3.310,3.250,3.265,56.7021,3.25375,3.432417,3.265
2014-12-11,3.130,3.155,3.110,3.135,80.5094,3.24525,3.303500,3.160
2012-10-24,3.515,3.695,3.515,3.670,259.2670,3.51775,3.461167,3.695
2015-03-23,2.970,2.975,2.920,2.945,97.1941,3.00625,3.017917,2.930
2019-05-22,2.735,2.750,2.720,2.725,43.6066,2.77175,2.773583,2.710
2012-05-07,2.865,3.070,2.855,3.050,307.0549,3.00400,3.150167,3.050
2016-08-22,3.200,3.210,3.120,3.130,62.3582,3.21550,3.102667,3.145
2012-09-17,3.590,3.600,3.500,3.545,193.8604,3.51100,3.304917,3.510
2017-04-12,3.135,3.145,3.095,3.115,65.6027,3.24050,3.097667,3.140
2013-05-20,4.055,4.090,3.975,4.045,98.2802,3.81025,3.649583,4.005
2013-06-05,3.800,3.820,3.745,3.765,111.6147,3.95175,3.718917,3.765
2017-03-29,3.255,3.255,3.175,3.190,90.0909,3.20825,3.049083,3.205
2015-03-27,2.925,2.955,2.920,2.945,89.8554,2.98250,2.999167,2.925
2011-08-11,3.385,3.485,3.385,3.420,310.0498,3.85725,3.840417,3.420
2012-07-20,3.190,3.190,3.090,3.130,182.2122,3.12000,2.976583,3.155
2012-04-12,3.115,3.120,3.050,3.090,80.9508,3.17425,3.246250,3.085
...,...,...,...,...,...,...,...,...
2014-03-11,2.870,2.885,2.835,2.860,113.4044,2.96275,3.045833,2.830
2011-09-06,3.620,3.690,3.585,3.660,104.6547,3.65750,3.819500,3.760
2018-05-30,2.720,2.725,2.695,2.705,56.1031,2.73275,2.737333,2.700
2013-05-15,4.080,4.105,4.000,4.080,115.7268,3.76600,3.632083,4.085
2013-08-26,3.490,3.500,3.465,3.480,47.5080,3.56850,3.614000,3.455
2016-04-26,3.020,3.035,3.005,3.020,53.2562,3.02450,2.910333,3.065
2015-04-21,2.960,2.965,2.935,2.935,64.6149,2.92800,2.964833,2.935
2015-02-27,3.045,3.080,3.025,3.060,340.2100,2.96725,3.068500,3.060
2012-12-21,3.850,3.885,3.845,3.855,190.0588,3.81875,3.719167,3.805
2016-12-27,3.020,3.030,3.015,3.020,54.4322,2.99300,3.105917,2.960
2019-04-09,2.750,2.760,2.720,2.720,60.2810,2.76725,2.833583,2.770
2015-02-12,2.935,2.955,2.905,2.940,103.2457,2.96825,3.107583,2.920
2013-10-24,3.575,3.575,3.535,3.570,151.2975,3.60450,3.599583,3.545
2012-08-02,3.210,3.260,3.180,3.220,56.6383,3.23075,3.018667,3.290
2019-05-20,2.790,2.800,2.745,2.745,112.1578,2.77425,2.777167,2.735
2014-06-05,2.970,2.980,2.915,2.945,89.1429,3.15150,3.090167,3.005
2018-02-06,2.920,2.930,2.875,2.890,196.5078,2.98125,3.009167,2.855
2016-05-10,3.180,3.210,3.180,3.185,56.1686,3.07900,2.956917,3.170
2012-06-19,2.850,2.875,2.845,2.860,50.1686,2.84800,2.982250,2.890
2013-07-08,3.615,3.660,3.555,3.560,56.8556,3.64250,3.748000,3.620
2018-06-01,2.715,2.715,2.690,2.700,25.2463,2.72975,2.735083,2.720
2012-11-02,3.715,3.745,3.685,3.705,89.5324,3.57825,3.516083,3.840
2014-04-23,3.200,3.280,3.180,3.265,248.9741,3.09575,3.009333,3.250
2018-09-13,2.900,2.920,2.885,2.885,99.2660,2.87525,2.826667,2.915
2011-07-20,3.880,3.910,3.875,3.885,53.9177,3.95525,NaN,3.905
2016-08-18,3.270,3.280,3.240,3.260,34.7725,3.20650,3.103750,3.210
2013-02-20,3.520,3.580,3.510,3.575,121.3476,3.70050,3.727000,3.495
2012-05-24,2.815,2.830,2.755,2.770,114.2235,2.94800,3.086167,2.780
2018-03-15,2.765,2.790,2.755,2.775,43.2604,2.78550,2.923250,2.785
2018-12-11,3.075,3.120,3.060,3.115,65.2218,3.02200,2.973333,3.080

In [87]:
len(KT.loc[KT['class']==0.0])

1110

In [88]:
testX = np.array(KT.iloc[-1:, 0:6])

KT=KT.dropna()

#X_Input=np.array(KT.iloc[:, 0:4])
#X_Input.shape

#Y_output=np.array(KT.loc[:, 'class']).reshape(-1,1)
#Y_output

inputX = np.array(KT.iloc[:1500, 0:6])
outputY = np.array(KT.iloc[:1500, 7]).reshape(-1,1)

testX = np.array(KT.iloc[1500:, 0:6])
testY = np.array(KT.iloc[1500:, 7]).reshape(-1,1)

In [89]:
outputY

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [90]:
InPut=6
We=10
OutPut=1

In [91]:
tf.reset_default_graph()

x = tf.placeholder(tf.float32, shape=[None,InPut],name='x')
y = tf.placeholder(tf.float32, shape=[None,OutPut], name='y')

W1 = tf.Variable(tf.truncated_normal([InPut, We]), dtype=tf.float32, name= 'W1')
B1 = tf.Variable(tf.zeros([We]),dtype=tf.float32, name= 'B1')
H1 = tf.nn.relu(tf.add(tf.matmul(x,W1), B1, name= 'H1'))

#W2 = tf.Variable(tf.truncated_normal([We,We1]), dtype=tf.float32, name= 'W2')
#B2 = tf.Variable(tf.zeros(We1),dtype=tf.float32, name= 'B2')
#H2 = tf.nn.sigmoid(tf.matmul(H1, W2) +B2, name= 'H2')
    
W0 = tf.Variable(tf.truncated_normal([We, OutPut]), dtype=tf.float32, name='W0')
B0 = tf.Variable(tf.zeros([OutPut]),dtype=tf.float32, name='B0')

lstY = tf.nn.sigmoid(tf.add(tf.matmul(H1,W0),B0, name='lstY'))

cost = tf.reduce_mean(tf.square(tf.subtract(lstY, y)))

learning_rate = 1
alpha = tf.placeholder(tf.float32, shape=(), name='alpha')
optimizer = tf.train.GradientDescentOptimizer(alpha)
train = optimizer.minimize(cost)


#saver=tf.train.Saver()

In [92]:
nBatchCnt= 5
nBatchSize= int(inputX.shape[0] / nBatchCnt)

sess = tf.Session()
sess.run(tf.global_variables_initializer()) #그래프 실행

#if tf.train.checkpoint_exists(saveDir):
#    saver.restore(sess, saveFile)

In [93]:
for i in range(10000):
    # Mini-batch 방식으로 학습한다
    for n in range(nBatchCnt):
        # input 데이터를 Mini-batch 크기에 맞게 자른다
        nFrom = n * nBatchSize
        nTo = n * nBatchSize + nBatchSize

        # 마지막 루프이면 nTo는 input 데이터의 끝까지.
        if n == nBatchCnt - 1:
            nTo = inputX.shape[0]
            
        bx = inputX[nFrom : nTo]
        by = outputY[nFrom : nTo]
        
        _, xcost = sess.run([train, cost], feed_dict={x: bx, y: by, alpha:0.001})
    
    if i % 1000 == 0:
        print('cost = %.6f' % xcost)
           
# 학습 결과를 저장해 둔다
#saver.save(sess, saveFile)

cost = 0.362317
cost = 0.247302
cost = 0.247099
cost = 0.246909
cost = 0.246731
cost = 0.246563
cost = 0.246405
cost = 0.246255
cost = 0.246112
cost = 0.245977

In [94]:
testX

array([[4.06      , 4.12      , 4.035     , 4.085     , 3.74075   ,
        3.62325   ],
       [3.085     , 3.1       , 3.065     , 3.085     , 3.35025   ,
        3.40316667],
       [3.56      , 3.575     , 3.525     , 3.545     , 3.58975   ,
        3.64466667],
       ...,
       [2.855     , 2.875     , 2.85      , 2.85      , 2.924     ,
        2.97091667],
       [3.005     , 3.01      , 2.98      , 2.98      , 3.0465    ,
        3.00266667],
       [3.02      , 3.055     , 2.99      , 3.025     , 3.14775   ,
        3.07125   ]])

In [95]:
#yHat[np.where(yHat>0.5)]=1
#yhat[np.where(yHat<0.5)]=0
yHat=sess.run(lstY, feed_dict={x: testX})
print(yHat)
yHat=np.array([1 if x > 0.5 else 0 for x in yHat]).reshape(-1,1)

[[0.44877407]
 [0.39616567]
 [0.43528563]
 [0.42840156]
 [0.4179409 ]
 [0.43924797]
 [0.42881912]
 [0.3747573 ]
 [0.48474008]
 [0.44932604]
 [0.466413  ]
 [0.4628713 ]
 [0.44873223]
 [0.45087698]
 [0.42398685]
 [0.4529501 ]
 [0.46418384]
 [0.3999043 ]
 [0.43699303]
 [0.44864303]
 [0.4604687 ]
 [0.47666875]
 [0.47237056]
 [0.4715705 ]
 [0.5020994 ]
 [0.43665546]
 [0.4807098 ]
 [0.38502878]
 [0.53054667]
 [0.44694164]
 [0.44164172]
 [0.46115407]
 [0.38163167]
 [0.4087857 ]
 [0.42627794]
 [0.3907157 ]
 [0.48404533]
 [0.45167473]
 [0.36598498]
 [0.44465026]
 [0.43615156]
 [0.47959742]
 [0.42066193]
 [0.45284227]
 [0.3540613 ]
 [0.4238388 ]
 [0.40953565]
 [0.39168972]
 [0.4214133 ]
 [0.4443823 ]
 [0.42547816]
 [0.40089786]
 [0.40979362]
 [0.4670949 ]
 [0.48125416]
 [0.42984352]
 [0.45289353]
 [0.47818598]
 [0.44758487]
 [0.44902804]
 [0.45123938]
 [0.4353618 ]
 [0.49174938]
 [0.47346324]
 [0.38144124]
 [0.44965747]
 [0.38732776]
 [0.3979826 ]
 [0.4448473 ]
 [0.47157174]
 [0.43653196]
 [0.468458  ]
 [0.4746567 ]
 [0.4226624 ]
 [0.4486448 ]
 [0.47748998]
 [0.46282673]
 [0.45320556]
 [0.4595323 ]
 [0.4680309 ]
 [0.4587205 ]
 [0.38775304]
 [0.44215417]
 [0.43193054]
 [0.45126027]
 [0.4500558 ]
 [0.4432079 ]
 [0.36158428]
 [0.45105293]
 [0.4239679 ]
 [0.42009974]
 [0.45185342]
 [0.45748964]
 [0.43306738]
 [0.4299913 ]
 [0.4536273 ]
 [0.4696745 ]
 [0.41898134]
 [0.4794094 ]
 [0.44125468]
 [0.423546  ]
 [0.48985782]
 [0.4293369 ]
 [0.48369592]
 [0.44950688]
 [0.46182588]
 [0.46122074]
 [0.44362205]
 [0.4744295 ]
 [0.42914546]
 [0.4702863 ]
 [0.47784033]
 [0.44650903]
 [0.44307256]
 [0.4412989 ]
 [0.34959763]
 [0.4461431 ]
 [0.47964776]
 [0.48296443]
 [0.42715207]
 [0.46924883]
 [0.4743297 ]
 [0.5094787 ]
 [0.4409874 ]
 [0.42392588]
 [0.44094467]
 [0.44403887]
 [0.48790234]
 [0.47644746]
 [0.484432  ]
 [0.44126356]
 [0.47080886]
 [0.4167559 ]
 [0.47176456]
 [0.4770682 ]
 [0.4245553 ]
 [0.47671956]
 [0.47084472]
 [0.4247132 ]
 [0.5081445 ]
 [0.41866177]
 [0.45204672]
 [0.4120375 ]
 [0.4543948 ]
 [0.4770598 ]
 [0.4131735 ]
 [0.39222282]
 [0.43623942]
 [0.4693456 ]
 [0.37129015]
 [0.3973658 ]
 [0.4276114 ]
 [0.4238871 ]
 [0.4456806 ]
 [0.4406189 ]
 [0.46537605]
 [0.4842456 ]
 [0.41904712]
 [0.35941565]
 [0.4410388 ]
 [0.42504576]
 [0.45999438]
 [0.4774102 ]
 [0.44832012]
 [0.40277627]
 [0.41781047]
 [0.39782327]
 [0.38352695]
 [0.43800652]
 [0.43918356]
 [0.45751745]
 [0.44252625]
 [0.44938695]
 [0.45098168]
 [0.45102882]
 [0.47216177]
 [0.4408093 ]
 [0.46947318]
 [0.43750444]
 [0.44314134]
 [0.4300128 ]
 [0.47287065]
 [0.45369747]
 [0.438204  ]
 [0.4354905 ]
 [0.45143858]
 [0.47721353]
 [0.44536144]
 [0.45622158]
 [0.45167273]
 [0.45781654]
 [0.45072708]
 [0.46038723]
 [0.46780705]
 [0.49550954]
 [0.43646738]
 [0.43336892]
 [0.45498347]
 [0.4074134 ]
 [0.41006622]
 [0.3693534 ]
 [0.47742325]
 [0.4149248 ]
 [0.38078868]
 [0.48324814]
 [0.40713927]
 [0.42376354]
 [0.46691686]
 [0.42130208]
 [0.44506577]
 [0.4320029 ]
 [0.45809275]
 [0.37178594]
 [0.43045342]
 [0.43953383]
 [0.38371238]
 [0.43971136]
 [0.40708286]
 [0.5292942 ]
 [0.4306362 ]
 [0.42452204]
 [0.41792193]
 [0.45175534]
 [0.3896644 ]
 [0.4705307 ]
 [0.3902406 ]
 [0.47308698]
 [0.4748516 ]
 [0.442562  ]
 [0.44680545]
 [0.44664127]
 [0.47152254]
 [0.48374164]
 [0.47284627]
 [0.42868602]
 [0.46211883]
 [0.46132073]
 [0.4751867 ]
 [0.45776552]
 [0.40305138]
 [0.45780036]
 [0.43696177]
 [0.44076708]
 [0.4797326 ]
 [0.43056124]
 [0.42016375]
 [0.43222797]
 [0.42137682]
 [0.45410103]
 [0.43294853]
 [0.4951504 ]
 [0.46065933]
 [0.49928948]
 [0.46435234]
 [0.40074262]
 [0.41562173]
 [0.4609457 ]
 [0.48104936]
 [0.4574133 ]
 [0.41186625]
 [0.4438474 ]
 [0.53083503]
 [0.43257004]
 [0.4238932 ]
 [0.4441118 ]
 [0.45419782]
 [0.51418924]
 [0.4308054 ]
 [0.45503512]
 [0.46631366]
 [0.41073692]
 [0.47808945]
 [0.4707148 ]
 [0.4622165 ]
 [0.46267322]
 [0.4004009 ]
 [0.48105276]
 [0.44865912]
 [0.458409  ]
 [0.40773502]
 [0.4624449 ]
 [0.47359702]
 [0.44874316]
 [0.41772592]
 [0.39449963]
 [0.45229203]
 [0.4563018 ]
 [0.4221548 ]
 [0.4544461 ]
 [0.45882702]
 [0.44093096]
 [0.44210604]
 [0.3419952 ]
 [0.35649124]
 [0.4519273 ]
 [0.4657008 ]
 [0.45674944]
 [0.43395063]
 [0.4242559 ]
 [0.47060794]
 [0.4119923 ]
 [0.42802477]
 [0.4397049 ]
 [0.4687678 ]
 [0.44923735]
 [0.40464318]
 [0.4267516 ]
 [0.45203316]
 [0.47022453]
 [0.43931764]
 [0.48451993]
 [0.46527594]
 [0.4772254 ]
 [0.38315037]
 [0.40328398]
 [0.43874192]
 [0.3878507 ]
 [0.4319008 ]
 [0.40750438]
 [0.41606307]
 [0.43671572]
 [0.45906484]
 [0.43021804]
 [0.4401896 ]
 [0.37454057]
 [0.43992075]
 [0.47335422]
 [0.39501435]
 [0.45808715]
 [0.4761731 ]
 [0.43199784]
 [0.46238238]
 [0.38893732]
 [0.47280788]
 [0.418214  ]
 [0.3766309 ]
 [0.461244  ]
 [0.45360178]
 [0.4121217 ]
 [0.51565516]
 [0.4000026 ]
 [0.4680944 ]
 [0.42021078]
 [0.45857248]
 [0.47894156]
 [0.4193733 ]
 [0.37759036]
 [0.4426389 ]
 [0.38469428]
 [0.44910622]
 [0.43812177]
 [0.4561062 ]
 [0.46111366]
 [0.42906833]
 [0.4251746 ]
 [0.42599955]
 [0.42976177]
 [0.4717538 ]
 [0.38479108]
 [0.486208  ]
 [0.43162215]
 [0.4342953 ]
 [0.42581937]
 [0.38683558]
 [0.4553403 ]
 [0.4322698 ]
 [0.4112925 ]
 [0.45478064]
 [0.38584018]
 [0.4093993 ]
 [0.5032789 ]
 [0.45826355]
 [0.46244693]
 [0.5081192 ]
 [0.44949874]
 [0.47502896]
 [0.40638617]
 [0.49927726]
 [0.45956752]
 [0.40038982]
 [0.4477484 ]
 [0.46956298]
 [0.41264936]
 [0.44112992]
 [0.44402534]
 [0.43429974]
 [0.39271668]
 [0.42433575]
 [0.4597085 ]
 [0.42224017]
 [0.4404974 ]
 [0.46181336]
 [0.43548012]
 [0.40728948]
 [0.4638499 ]
 [0.41366652]
 [0.4194136 ]
 [0.4052786 ]
 [0.44609317]
 [0.43614462]
 [0.4244003 ]
 [0.37341818]
 [0.42858464]
 [0.38841873]
 [0.5137453 ]
 [0.43721873]
 [0.43615896]
 [0.44555467]
 [0.42964774]
 [0.47737432]
 [0.44198513]
 [0.3810398 ]
 [0.4648791 ]
 [0.42866644]
 [0.44906798]
 [0.43586183]
 [0.45646414]
 [0.51545423]
 [0.41753143]
 [0.4350572 ]
 [0.4560446 ]
 [0.39788923]
 [0.40951085]
 [0.4344246 ]
 [0.4276238 ]
 [0.41860592]
 [0.46694794]
 [0.44595253]
 [0.42415634]
 [0.497175  ]
 [0.3987559 ]
 [0.4420038 ]
 [0.48769876]
 [0.40605965]
 [0.4482361 ]
 [0.43859372]
 [0.46604407]
 [0.43774185]
 [0.41816622]
 [0.4004837 ]]

In [96]:
yHat

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [97]:
accuracy=(testY==yHat).sum() / len(testX)

print('Accuracy = %.4f' % accuracy)

Accuracy = 0.5477

In [98]:
yHat=sess.run(lstY, feed_dict = {x : inputX})
print("\ny-추정치 = \n",accuracy)

y-추정치 =
 0.5477272727272727

In [133]:
# XOR 예시
import tensorflow as tf
import pandas as pd
import numpy as np

In [134]:
sm = pd.read_csv('./stockData/005930.csv', index_col=0, parse_dates=True)
sm = sm.sort_index() # 날짜 순으로 정렬한다
sm = sm.dropna()
sm=sm/10000 #스케일을 줄여서

In [135]:
sm.tail()

             open   high    low  close     volume
date
2019-06-19  4.545  4.545  4.500  4.535  1041.7690
2019-06-20  4.485  4.550  4.485  4.550   714.7785
2019-06-21  4.575  4.580  4.520  4.570   945.4913
2019-06-24  4.520  4.580  4.520  4.550   608.5066
2019-06-25  4.520  4.580  4.520  4.545   412.0726

In [136]:
sm['next close'] = sm['close'].shift(-1)

In [137]:
sm.tail() #옆에 새로 생김!

             open   high    low  close     volume  next close
date
2019-06-19  4.545  4.545  4.500  4.535  1041.7690       4.550
2019-06-20  4.485  4.550  4.485  4.550   714.7785       4.570
2019-06-21  4.575  4.580  4.520  4.570   945.4913       4.550
2019-06-24  4.520  4.580  4.520  4.550   608.5066       4.545
2019-06-25  4.520  4.580  4.520  4.545   412.0726         NaN

In [ ]:
testX = np.array(sm.iloc[-1:, 0:4]) # 맨 아래 줄 애들 가리킴, 행과 열로 원하는 애들 뽑아옴
testX

In [ ]:
sm = sm.dropna() #마지막 날 nan값 없앰

In [ ]:
inputX = np.array(sm.iloc[:,0:4])# input 데이터-> (1999, 4) 구조로 바꿈
outputY =np.array(sm.loc[:, 'next close']).reshape(-1,1)  # 1차원 구조로 맞춰주기 위해서 reshape해줌
                            # 이름으로 바로 지정

In [ ]:
outputY #2차원 구조 이면서도 하나씩 정렬됨.-------------->inputX와 outY 정리 끝!

In [ ]:
nInput = 4      # input layer의 neuron 개수
nHidden = 80     # hidden layer의 neuron 개수
nOutput = 1     # output layer의 neuron 개수

In [ ]:
# 그래프를 생성한다
tf.reset_default_graph()

x = tf.placeholder(tf.float32, shape=[None, nInput], name='x')
y = tf.placeholder(tf.float32, shape=[None, nOutput], name='y')

In [ ]:
#Hidden 1
# hidden layer의 Weight (Wh)와 Bias (Bh)
W1 = tf.Variable(tf.truncated_normal([nInput, nHidden]), dtype=tf.float32, name='W1')
B1 = tf.Variable(tf.zeros(nHidden), dtype=tf.float32, name='B1')

#Hidden 2
#hidden_layer가 많으면 sigmoid 말고 relu로! sigmoid는 1과 0으로 구분하기 때문에 가격값을 찾는 것에 적합하지 않다.
W2 = tf.Variable(tf.truncated_normal([nHidden, nHidden]), dtype=tf.float32, name='W2')
B2 = tf.Variable(tf.zeros(nHidden), dtype=tf.float32, name='B2')

# output layer의 Weight (Wo)와 Bias (Bo)
Wo = tf.Variable(tf.truncated_normal([nHidden, nOutput]), dtype=tf.float32, name='Wo')
Bo = tf.Variable(tf.zeros(nOutput), dtype=tf.float32, name='Bo')

H1 = tf.nn.relu(tf.matmul(x, W1) + B1, name='H1') 
H2 = tf.nn.relu(tf.matmul(H1, W2) + B2, name='H2')


# Output layer의 출력값. activation function은 sigmoid
predY = tf.nn.sigmoid(tf.add(tf.matmul(H2, Wo), Bo, name='predY'))

# Cost function 정의. cross-entropy 사용
cost = tf.reduce_mean(tf.square(tf.subtract(predY, y)))

# 학습
optimizer = tf.train.AdamOptimizer(0.05)
train = optimizer.minimize(cost)

alpha=tf.placeholder(tf.float32, shape=(), name='alpha')

In [ ]:
# 그래프를 실행한다
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [ ]:
for i in range(10000):
    _, xcost = sess.run([train, cost], feed_dict={x: inputX, y: outputY, alpha:0.01})
    
    if i % 1000 == 0:
        print('cost = %.4f' % xcost)

In [ ]:
yHat = (sess.run(predY, feed_dict={x: testX}))*10000
print('\ny=추정치 = \n', yHat)

In [102]:
print("\ny-추정치 = \n", yHat)

# Weight, Bias의 최종값을 확인해 본다
rW1, rB1, rWo, rBo = sess.run([W1, B1, Wo, Bo])

print("\nW1 = \n", rW1)
print("\nB1 = \n", rB1)
print("\nWo = \n", rWo)
print("\nBo = \n", rBo)
sess.close()

y-추정치 =
 [[0.4476745 ]
 [0.46764812]
 [0.46374407]
 ...
 [0.41108844]
 [0.4735971 ]
 [0.4827249 ]]

NameError: name 'Wo' is not defined

In [106]:
sm=sm.sample(frac=1)
sm.head()

AttributeError: 'function' object has no attribute 'sample'