In [52]:
import pymysql

In [53]:
connector = pymysql.connect(host='localhost', port=3306,
                            user='root', passwd='dldnjswo0924!',
                            db='sample',
                            cursorclass=pymysql.cursors.DictCursor)

In [54]:
cursor = connector.cursor()

In [55]:
cursor.execute('Select * from 상품')

4

상품 table의 행과 열을 임의로 추가하고 변경해보세요.

In [56]:
cursor.execute("insert into 상품 values (0004, 'new상품1', '메이커2', 100, '식료품')")

InternalError: (1136, "Column count doesn't match value count at row 1")

In [57]:
cursor.execute('Select * from 상품')

4

In [58]:
cursor.execute("alter table 상품 add 재고수 varchar(10)")
cursor.execute('Select * from 상품')

InternalError: (1060, "Duplicate column name '재고수'")

item_one = cursor.fetchone()
item_many = cursor.fetchmany(n) #n= 행 개수

In [61]:
item_table = cursor.fetchall()
item_table

()

- table의 column명까지 읽어들이고 싶다면?  
-> connector를 선언할 때,   
cursorclass를 DictCursor로 지정해줘야한다.

Quiz) item_table을 dataframe으로 저장해보세요.

In [44]:
import pandas as pd
item_table_df = pd.DataFrame(item_table)
item_table_df

     가격  메이커명     상품명  상품분류  상품코드   재고수
0   100  메이커1     상품1   식료품  0001  None
1   200  메이커2     상품2   식료품  0002  None
2  1980  메이커3     상품3  생활용품  0003  None
3   100  메이커2  new상품1   식료품     4  None

In [88]:
connector.close()

### movielens to sql

- dataframe을 sql로 저장하고 싶다면?

In [63]:
movie_df = pd.read_csv('dataset/movies.csv')
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
pip install sqlalchemy

In [ ]:
pymysql.install_as_MySQLdb()

In [65]:
import MySQLdb
from sqlalchemy import create_engine

create_engine(
"mysql+mysqldb://(username):(passwd)@(server주소)/(db명)",
encoding='utf8'
)

In [31]:
engine = create_engine("mysql+mysqldb://root:"+
                       "dldnjswo0924!"+
                       "@localhost/sample", 
                       encoding='utf-8')
conn = engine.connect()

In [66]:
movie_df.to_sql(name='movie_table', con=engine)

In [89]:
conn.close()

### 네이버 뉴스 기사제목 to sql

In [92]:
import requests
from bs4 import BeautifulSoup
url = 'https://search.naver.com/search.naver'

params = {
    'where': 'news',
    'query': '워너원'
}

result = requests.get(url, params)
result

In [93]:
soup = BeautifulSoup(result.content, 'lxml')
a_tag = soup.select('ul.type01 li dl dt a')
a_tag[0].text

'워너원 출신 배진영 태국 첫 단독 팬미팅 성료'

In [94]:
news_dict = {
    'title':[],
    'link':[]
}

for a in a_tag:
    news_dict['title'].append(a.text)
    news_dict['link'].append(a['href'])

In [95]:
news_dict

{'title': ['워너원 출신 배진영 태국 첫 단독 팬미팅 성료',
  "워너원 출신 배진영, 국내 이어 필리핀·일본·태국까지 '아시아 팬미팅' 순항...",
  '박지훈, \'아시아 스타상 가수부문\' 수상 인증샷 "워너원 멤버들 보고 싶다"',
  '강다니엘, 아차랭킹 무려 64주째 1위..방탄소년단x워너원 장악 [공식입장]',
  '‘프로듀스X101’ 워너원 김재환, 송유빈 지도편달 “섹시하게 노래해야”',
  '훈훈하게 청량하다 소년 옹성우, 워너원 출신 옹성우가 신곡 Heart...',
  "'프로듀스X101' 송유빈, 워너원 '보여' 무대 전 김재환에 SOS! [Oh!쎈 리뷰]",
  "'불후' 위키미키 유정, 방탄소년단·워너원 댄스 메들리..멋쁨 폭발 [별별TV]",
  "[종합] '런닝맨' 유재석, 양세찬의 '뉴트리아 별명'…전소민은 금산에서 인삼...",
  '[MK뮤직]`센터` 강다니엘-전소미, 험난 여정 뒤로한 `마이웨이`'],
 'link': ['http://sports.khan.co.kr/news/sk_index.html?art_id=201906170922003&sec_id=540101&pt=nv',
  'http://www.interview365.com/news/articleView.html?idxno=87200',
  'http://speconomy.com/news/newsview.php?ncode=1065584945710999',
  'http://www.osen.co.kr/article/G1111164071',
  'http://star.mk.co.kr/new/view.php?mc=ST&year=2019&no=420858',
  'http://www.seohaenews.net/news/article.html?no=40394',
  'http://www.osen.co.kr/article/G1111163975',
  'http://star.mt.co.kr/stview.php?no=2019061518451210341',
  'http://www.topstarnews.net/news/articleView.html?idxno=636373',
  'http://star.mk.co.kr/new/view.php?mc=ST&year=2019&no=423007']}

In [96]:
import pandas as pd
news_df = pd.DataFrame(news_dict)
news_df.head(3)

,title,link
0,워너원 출신 배진영 태국 첫 단독 팬미팅 성료,http://sports.khan.co.kr/news/sk_index.html?ar...
1,"워너원 출신 배진영, 국내 이어 필리핀·일본·태국까지 '아시아 팬미팅' 순항...",http://www.interview365.com/news/articleView.h...
2,"박지훈, '아시아 스타상 가수부문' 수상 인증샷 ""워너원 멤버들 보고 싶다""",http://speconomy.com/news/newsview.php?ncode=1...

In [98]:
engine = create_engine("mysql+mysqldb://root:"+
                       "dldnjswo0924!"+
                       "@localhost/sample", 
                       encoding='utf-8')
conn = engine.connect()

C:\ProgramData\Anaconda3\envs\finance\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [ ]:
news_df.to_sql(name='news_table', con=engine)

In [100]:
connector = pymysql.connect(host='localhost', port=3306,
                            user='root', passwd='dldnjswo0924!',
                            db='sample',
                            cursorclass=pymysql.cursors.DictCursor)

In [101]:
cursor = connector.cursor()

In [102]:
cursor.execute('Select * from news_table')

10

In [103]:
news_table = cursor.fetchmany(2)
news_table

[{'index': 0,
  'title': '워너원 출신 배진영 태국 첫 단독 팬미팅 성료',
  'link': 'http://sports.khan.co.kr/news/sk_index.html?art_id=201906170922003&sec_id=540101&pt=nv'},
 {'index': 1,
  'title': '박지훈, \'아시아 스타상 가수부문\' 수상 인증샷 "워너원 멤버들 보고 싶다"',
  'link': 'http://speconomy.com/news/newsview.php?ncode=1065584945710999'}]

In [104]:
news_df = pd.DataFrame(news_table)
news_df

,index,link,title
0,0,http://sports.khan.co.kr/news/sk_index.html?ar...,워너원 출신 배진영 태국 첫 단독 팬미팅 성료
1,1,http://speconomy.com/news/newsview.php?ncode=1...,"박지훈, '아시아 스타상 가수부문' 수상 인증샷 ""워너원 멤버들 보고 싶다"""

In [105]:
conn.close()

In [106]:
connector.close()