# 파이썬 프로그래밍 시험문제

## 객관식

1번

for i in range(10):  
    if ________ :  
        print(i)
        
결과 : 
0  
2  
4  
6  
8  


1) i == 0   
2) i % 2 == 0 *(정답)  
3) True  
4) i%2  
5) i % 2 = 0

2번

5 + 2 * 3 ** 2


1) 12  
2) 16  
3) 19  
4) 23  *(정답)
5) 101

3번

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[x:y]

결과:
[6, 7, 8]

x+y 의 값을 고르시오.(단, x > 0 , y > 0)

1) 11
2) 12
3) 13 *(정답)
4) 14
5) 15

4번

b = [ i*2 for i in range(10)]

b[5] = ?

1) 0 
2) 1
3) 4
4) 7
5) 10 *(정답)

In [6]:
b = [ i*2 for i in range(10)]

b[5]

10

5번

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for d in data:
    if d%5 == 0:
        count += 1
        
print(count)를 했을때, 예상되는 출력 결과는?

1) 0
2) 1
3) 2
4) 3
5) 4

In [9]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for d in data:
    if d%5 == 0:
        count += 1
        
print(count)

2

6번

a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c', 'd', 'e']

for i, j in ?(a, b):
    print(i, j)

의 결과가 다음과 같다.
1, a
2, b
3, c
4, d
5, e

이 때, ?(물음표)에 들어갈 알맞은 단어는?

1) enumerate
2) range
3) arange
4) zip
5) if

정답) 4번

7번 (고난도)

count = 0
for i in range(10):
    for j in range(5):
        count += 1
    count -= 1
print(count)

결과는?
1) 10
2) 20
3) 30 
4) 40
5) 50

정답) 4번

In [12]:
count = 0
for i in range(10):
    for j in range(5):
        count += 1
    count -= 1
print(count)

40

8번

while ?:
    print(1)
    
무한루프를 돌지 않게 하려면 다음 중 무엇을 ?에 넣어야 할까?
1) 0
2) 1
3) 'a'
4) True
5) 10

정답) 1번

9번

data = [i*10 for i in range(100)]

len(data)

1) 10
2) 100
3) 1000
4) 10000
5) 100000

정답) 2번

In [14]:
data = [i*10 for i in range(100)]

len(data)

100

10번

hero = ['아이언맨', '토르', '스파이더맨', '헐크']

hero 에 '그루트'를 추가하려면 다음중 어떤 것을 사용해야 할까요?

1) append
2) pop
3) remove
4) del
5) enumerate

정답) 1번

11번

10번의 hero에서 '아이언맨'을 빼내고 싶다면?

1) append
2) pop
3) extend
4) insert
5) zip

정답) 2번

12번

다음 중 클라이언트에서 서버로 요청하는 요청메서드 (HTTP메서드)가 아닌 것은?
1) GET
2) POST
3) PUT
4) DELETE
5) REQUEST

정답) 5번

13번

다음 중 크롤링과 가장 거리가 먼 패키지는?
1) numpy
2) requests
3) BeautifulSoup
4) selenium

정답)1번

14번

테이블의 행 개수를 알고 싶을 때 사용하는 집계함수는 무엇입니까?

1) COUNT
2) SUM
3) MAX
4) AVG
5) MIN

정답) 1번

15번

테이블에 행을 추가할 때 사용하는 표준 SQL 명령은 무엇입니까?

1) SELECT
2) INSERT
3) DELETE
4) APPEND
5) EXTEND

정답) 2번

## 주관식(단답형)

16번

 avengers = ['헐크', '블랙위도우', '타노스']
 
 avengers.append('앤트맨')
 avengers.pop(2)
 avengers.pop()
 avengers.pop(1)
 
최종적으로  avengers 에 들어가 있는 데이터를 모두 적으시오.

정답) '헐크'

In [17]:
 avengers = ['헐크', '블랙위도우', '타노스']
 
 avengers.append('앤트맨')
 avengers.pop(2)
 avengers.pop()
 avengers.pop(1)
print(avengers)

['헐크']

17번

data = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
data = set(data)
data = list(data)

print(len(data)) 의 결과를 적으시오.

정답) 5

In [19]:
data = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
data = set(data)
data = list(data)

print(len(data))

5

**18번**

클래스의 재사용을 위해 부모 클래스로부터 OO하여
자식 클래스를 정의한다.

OO 안에 들어갈 말은?

정답) 상속

**19번**

나이가 30세 이하인 남성만 검색할 경우    
나이가 30세 이하인 조건식과 남성이라는 조건식을 조합하여  
WHERE구에 지정하는 데,    
이 경우 필요한 논리 연산자는 무엇입니까?

정답) AND

**20번**

SQL에서 INDEX를 사용하면 어떤 효과를 얻을 수 있습니까?

정답) 쿼리의 성능 향상

## 실습 문제

**1번**

이름과 나이 그리고 전화번호를 인자로 전달 받아
딕셔너리 형태로 반환해 주는 함수를 작성하시오.
함수 이름은 profile_to_dict로 하시오.

딕셔너리 형태 예)
{
    'name': <이름>,
    'age': <나이>,
    'phone': <전화번호>
}

In [1]:
def profile_to_dict(name, age, phone):
    profile_dict = {
        'name': name,
        'age': age,
        'phone': phone
    }
    return profile_dict

profile = profile_to_dict('dino', 20, '010-0000-0000')
print(profile)

{'name': 'dino', 'age': 20, 'phone': '010-0000-0000'}

**2번**

네이버 뉴스를 5페이지 크롤링하여  
딕셔너리의 리스트 형태로 반환하시오.

딕셔너리 예)
{  
    'title': '<뉴스 제목>',
    'link': '<링크>'
}

In [1]:
import requests
from bs4 import BeautifulSoup

In [4]:
#어디에서 요청할거야?
url = 'https://search.naver.com/search.naver'

news=[]

for i in range(5):
    params = {
        'where':'news',
        'query':'워너원',
        'start': (i*10) +1
    }

    result = requests.get(url, params = params)
    soup = BeautifulSoup(result.content, 'lxml')
    tag_dt = soup.select('ul.type01 li dl dt')
    for t in tag_dt:
        dict = {}
        tag_a = t.find('a')
        dict['title'] = tag_a.text
        dict['link'] = tag_a['href']
        news.append(dict)

In [5]:
news

[{'title': "'워너원 출신' 김재환, 어엿한 솔로 아티스트로 성장...'업계 러브콜 쇄도'",
  'link': 'http://www.newsfreezone.co.kr/news/articleView.html?idxno=116331'},
 {'title': "'불후의 명곡' 유정은 이날 방탄소년단과 워너원 커버댄스부터...",
  'link': 'http://www.insightkorea.co.kr//news/articleView.html?idxno=41635'},
 {'title': '하성운, 윤지성 입대 전 마지막 통화 상대였다...여전한 워너원 우정',
  'link': 'http://www.slist.kr/news/articleView.html?idxno=87784'},
 {'title': "2019 워너원 '솔로' 전방위 활약..아이오아이와 달랐다③",
  'link': 'http://star.mt.co.kr/stview.php?no=2019061809103500628'},
 {'title': '\'워너원 출신\' 배진영, 다채로운 매력 뽐내며 글로벌 아이돌 성장중..."태국 ...',
  'link': 'http://speconomy.com/news/newsview.php?ncode=1065576185181314'},
 {'title': '박정욱 작곡가 "윤미래 곡으로 첫 1등..이후 워너원까지"(인터뷰①)[스타메이...',
  'link': 'http://star.mt.co.kr/stview.php?no=2019061810174156765'},
 {'title': '워너원 출신 배진영, 태국에서도 뜨겁다',
  'link': 'http://www.tvreport.co.kr/?c=news&m=newsview&idx=1133498'},
 {'title': '[아이돌 홀릭] `국민 센터`에서 빛나는 `솔로`로…전소미·강다니엘',
  'link': 'http://news.mk.co.kr/newsRead.php?year=2019&no=433170'},
 {'title': '워너원 출신 하성운, ‘바람이 분다’ OST ‘면역력’ 가창..감미로운 보컬',
  'link': 'http://www.breaknews.com/661879'},
 {'title': "워너원 출신 박지훈, 만화를 찢고 나온 비주얼의 아이돌 ★ 1위…''역시 윙깅...",
  'link': 'http://www.topstarnews.net/news/articleView.html?idxno=636690'},
 {'title': '하성운 "워너원 활동 당시, 차에서 맨밥 먹어" 무슨 사연이길래?',
  'link': 'http://www.siminilbo.co.kr/news/articleView.html?idxno=639019'},
 {'title': "'워너원 출신' 박지훈, 조선을 뒤흔들 꽃도령 인증...드라마 '꽃파당' 기대감...",
  'link': 'http://speconomy.com/news/newsview.php?ncode=1065575362827395'},
 {'title': "'워너원 출신' 옹성우, 여심 뒤흔든 한 컷...수트핏 천재의 탄생?",
  'link': 'http://www.kgdm.co.kr/news/articleView.html?idxno=641613'},
 {'title': '훈훈하게 청량하다 소년 옹성우, 워너원 출신 옹성우가 신곡 Heart...',
  'link': 'http://www.seohaenews.net/news/article.html?no=40394'},
 {'title': '양세형 스타일리스트, 알고보니 워너원 팀에서 6개월 동안 활동해',
  'link': 'http://www.siminilbo.co.kr/news/articleView.html?idxno=638629'},
 {'title': '박지훈, \'아시아 스타상 가수부문\' 수상 인증샷 "워너원 멤버들 보고 싶다"',
  'link': 'http://speconomy.com/news/newsview.php?ncode=1065584945710999'},
 {'title': '‘프로듀스X101’ 워너원 김재환, 송유빈 지도편달 “섹시하게 노래해야”',
  'link': 'http://star.mk.co.kr/new/view.php?mc=ST&year=2019&no=420858'},
 {'title': '강다니엘, 아차랭킹 무려 64주째 1위..방탄소년단x워너원 장악 [공식입장]',
  'link': 'http://www.osen.co.kr/article/G1111164071'},
 {'title': "뮤지코인, 워너원 탄생시킨 작곡가들 만난다…'설렘 데이트'",
  'link': 'http://www.joynews24.com/view/1185058'},
 {'title': "'불후' 위키미키 유정, 방탄소년단·워너원 댄스 메들리..멋쁨 폭발 [별별TV]",
  'link': 'http://star.mt.co.kr/stview.php?no=2019061518451210341'},
 {'title': '‘라디오스타’ AB6IX로 데뷔하기 전 워너원 멤버로...',
  'link': 'http://www.chuksannews.co.kr/news/article.html?no=180194'},
 {'title': "[종합] '런닝맨' 유재석, 양세찬의 '뉴트리아 별명'…전소민은 금산에서 인삼...",
  'link': 'http://www.topstarnews.net/news/articleView.html?idxno=636373'},
 {'title': '[MK뮤직]`센터` 강다니엘-전소미, 험난 여정 뒤로한 `마이웨이`',
  'link': 'http://star.mk.co.kr/new/view.php?mc=ST&year=2019&no=423007'},
 {'title': "[스타NOW] 강다니엘, 솔로 데뷔 앨범 열심히 작업 中…커넥트 측 ''준비되는 ...",
  'link': 'http://www.topstarnews.net/news/articleView.html?idxno=636737'},
 {'title': "'키스데이' 14일 '키스받고 싶은 스타'...1위 강다니엘, 2위 박보검, 3위 공유...",
  'link': 'http://www.iloveorganic.co.kr/news/articleView.html?idxno=224929'},
 {'title': "'워너원' 옹성우, 신곡 'Heart Sign' 오늘(11일) 발매",
  'link': 'http://starin.edaily.co.kr/news/newspath.asp?newsid=01210326622520736'},
 {'title': "'워너원→주연배우'...'열여덟의 순간' 옹성우, 소년미 물씬 포스터 공개",
  'link': 'http://enews24.tving.com/news/article.asp?nsID=1322106'},
 {'title': "옹성우, 프로젝트 신곡 'Heart Sign' 뮤직비디오 속 빛난 훈훈 청량美",
  'link': 'http://www.m-i.kr/news/articleView.html?idxno=612134'},
 {'title': '옹성우(워너원), "제 첫 번째 솔로음원 Heart..."',
  'link': 'http://www.news-paper.co.kr/news/articleView.html?idxno=50847'},
 {'title': '"워너원 우정 ing"..라이관린X박지훈, 두 미소년의 훈훈 투샷',
  'link': 'http://isplus.live.joins.com/news/article/aid.asp?aid=23085969'},
 {'title': "뉴이스트 황민현, 뮤지컬 데뷔···'마리 앙투아네트'",
  'link': 'http://www.newsis.com/view/?id=NISX20190612_0000678745&cID=10701&pID=10700'},
 {'title': "워너원 출신 박지훈, 유유네이처 '포모라인 L112' 전속 모델",
  'link': 'http://tvdaily.asiae.co.kr/read.php3?aid=15604813061464576010'},
 {'title': '송진우부터 김정민-김재환까지 연예-스포츠 동명이인 스타는?',
  'link': 'http://www.sportsq.co.kr/news/articleView.html?idxno=402133'},
 {'title': '박지훈 `워너원 친구들 너무 보고싶다` [MK포토]',
  'link': 'http://sports.mk.co.kr/view.php?year=2019&no=398651'},
 {'title': '\'프로듀스X101\' 김재환, 송유빈 향한 응원..."섹시하게 불러" 깜짝 통화의 사...',
  'link': 'http://www.siminilbo.co.kr/news/articleView.html?idxno=638676'},
 {'title': '‘얼굴 천재들’, 안방서 ‘한판 승부’',
  'link': 'http://sports.donga.com/3/all/20190614/95999755/2'},
 {'title': '‘2019 아시아 모델 어워즈’ 박지훈 “워너원 멤버들 정말 보고 싶어”',
  'link': 'http://star.mbn.co.kr/view.php?year=2019&no=400900&refer=portal'},
 {'title': "워너원 센터→소속사 분쟁→1인 기획사…강다니엘, 솔로 활동 '꽃길' or '가시...",
  'link': 'http://www.spotvnews.co.kr/?mod=news&act=articleView&idxno=294614'},
 {'title': '워너원 강다니엘 첫 솔로 행보..부산시 홍보대사 위촉 "태어나고 자라온 도시...',
  'link': 'http://kpenews.com/View.aspx?No=54169'},
 {'title': "[MD포토] 윤지성 '워너원의 첫 입대 멤버'",
  'link': 'http://www.mydaily.co.kr/new_yk/html/read.php?newsid=201905141350354045&ext=na'},
 {'title': "'라디오스타' 또한 그는 워너원 마지막 콘서트...",
  'link': 'http://www.startup4.co.kr/news/articleView.html?idxno=19571'},
 {'title': '"평생 아이돌이고파"...김재환, 워너원 넘어 솔로가수로의 도전',
  'link': 'http://www.mediasr.co.kr/news/articleView.html?idxno=52674'},
 {'title': "입대 5일 전 윤지성이 마지막으로 만난 절친은 '워너원' 멤버들이었다",
  'link': 'https://www.insight.co.kr/news/226659'},
 {'title': '워너원 출신 박지훈 헬스케어 브랜드 모델 발탁 ‘9월에는 연기자 변신’',
  'link': 'http://sports.khan.co.kr/news/sk_index.html?art_id=201906100941003&sec_id=540101&pt=nv'},
 {'title': '강다니엘, 무소의 뿔처럼 혼자 간다···1인 기획사 설립',
  'link': 'http://www.newsis.com/view/?id=NISX20190610_0000675536&cID=10601&pID=10600'},
 {'title': '‘김재환 ’ 이어 그룹 워너원의 메인보컬에서 최근...',
  'link': 'http://www.jejutwn.com/news/article.html?no=34232'},
 {'title': '“워너원 멤버들 정말 보고 싶다”..박지훈, 아시아 스타상 수상',
  'link': 'http://sports.mk.co.kr/view.php?year=2019&no=398654'},
 {'title': "워너원 출신 윤지성 입대 '입소 패션' 눈길",
  'link': 'http://www.ekoreanews.co.kr/news/articleView.html?idxno=31625'},
 {'title': '워너원 출신 윤지성 입대',
  'link': 'http://kookbang.dema.mil.kr/newsWeb/20190514/20/BBSMSTR_000000010060/view.do'},
 {'title': '에이비식스 박우진-이대휘, 카리스마 폭발 워너원 브라더 [포토엔HD]',
  'link': 'http://www.newsen.com/news_view.php?uid=201906111909405510'}]