In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
boston = load_boston()
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [3]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.DataFrame(boston.target, columns=['price'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [4]:
X_train.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
188,0.12579,45.0,3.44,0.0,0.437,6.556,29.1,4.5667,5.0,398.0,15.2,382.84,4.56
240,0.11329,30.0,4.93,0.0,0.428,6.897,54.3,6.3361,6.0,300.0,16.6,391.25,11.38
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [5]:
y_train.head(3)

     price
188   29.8
240   22.0
9     18.9

In [6]:
model = LinearRegression()

In [7]:
model_lr = model.fit(X_train, y_train)

#### accuracy 측정 방법 (1) : R-square

In [8]:
model.score(X_test, y_test)

0.6381003419434733

#### 생각해 보기 : score() 함수의 내부 동작

In [15]:
y_pred = np.reshape(model.predict(X_test), (1,-1))[0]
y_test = np.array(y_test)
y_test = np.reshape(y_test, (1, -1))[0]
corr = np.corrcoef(y_pred, y_test)[0,1]
R2 = corr ** 2   # 단순 R2 : 의미없는 feature가 늘어나도, R2는 증가함. R2의 문제점.
print(R2)

# 수정된 R2 -- model.score() 결과와 일치함.
sse = np.sum((y_test - y_pred) ** 2)
sst = np.sum((y_test - y_test.mean()) ** 2)
AR2 = 1 - sse / sst
print(AR2)

0.64538453600161
0.6381003419434733

In [14]:
y_test.mean()

23.177450980392152

#### accuracy 측정 방법 (2) : Mean square error

In [53]:
rmse = np.sqrt(np.mean((y_pred - y_test) ** 2))
print(rmse)

5.812735683038714