시험 봅니다. 책 한권 끝날 때마다. 50점 이상은 맞아야 한다.    
아래 예제문제
아마 챕터당 한 문제 예상

첫 시험 날짜 미정
필기 + 실기(2-3문제)

인덱싱과 원소 같이 처리
enumerate
for문에서 리스트 2개 처리
zip
리스트 원소 제거
pop, delete
중복제거 set
함수 만들어보자 -> 가변인자 안나옴
함수 리턴값 리스트, 튜플, 딕셔너리 다 된다. -> 되는지 해보자
크롤링
우리가 했던 실습 중에서 비슷하게 나온다.
여러 페이지 돌면서 크롤링하는거 -> 페이지 바뀌면 쿼리스트링이 바뀜 쿼리 변수로 주고 돌리자
그래프그리는거 안나옴
데이터

In [2]:
a = 0
for i in range(10):
    a+=1
    if i%2 ==0:
        a = a*2
    elif i%7 == 0:
        break
print(a)

45

- operator에선

a = 10
a (blank) 2 = 0

1. *
2. **
3. //
4. %
-> 답은 4.

판다스에서 특정 컬럼 없애고 싶을 때 쓰는 함수 drop

for문 돌릴때 정보 저장하고 싶으면 for 밖에 빈 리스트 만들어서 append해준다.

In [1]:
for d in range(10):
    if d%2 == 1:
        d += 10
print(d)

19

In [ ]:
count = 1
for a in range(3):
    for b in range(2):
        count +=1
    count += 10
print(count)

In [ ]:
count = [1,2,3]
for c in count:
    print(c*10)
    count.append(c+3)
print(count)
# 이 코드는 무한루프

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
a = [i+1 for i in range(10)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#인덱싱과 원소 같이 처리

data =[['이원재', '김가영', '김강빈', '김민철', '김원중', '김홍덕'],
       ['song', 'movie', 'TV', 'coding', 'sleep', 'cycle']]

for i, d in enumerate(data):
    print(i, d)
    
    
    
for d_index, d in enumerate(data):
    print("data", d_index, ":", d)
    for i_index, i in enumerate(d):
        print(i_index, i)
    
    print('------')

0 ['이원재', '김가영', '김강빈', '김민철', '김원중', '김홍덕']
1 ['song', 'movie', 'TV', 'coding', 'sleep', 'cycle']

In [5]:
import request
# 기사 읽어 들일거야
url='기사 검색페이지  where= news&query=트와이스'
param

ModuleNotFoundError: No module named 'request'

In [65]:
import requests
from bs4 import BeautifulSoup

url='http://search.naver.com/search.naver'

keyword='트와이스'


param={'where':'news','query':keyword}

result = requests.get(url, param)


soup=BeautifulSoup(result.content, 'lxml')

t_url=soup.select('ul.type01 li dl dt a')

t_url

[<a class="_sp_each_title" href="http://www.munhwa.com/news/view.html?no=20190617MW14292352585" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=1&amp;i=880000C4_000000000000000002394176&amp;g=021.0002394176&amp;u='+urlencode(this.href));" target="_blank" title="트와이스, 방콕 점령…월드투어 공연 성공적으로 마쳐"><strong class="hl">트와이스</strong>, 방콕 점령…월드투어 공연 성공적으로 마쳐</a>,
 <a class="_sp_each_url _sp_each_title" href="http://www.slist.kr/news/articleView.html?idxno=87710" onclick="return goOtherCR(this, 'a=nws*b.tit&amp;r=6&amp;i=88183104_000000000000000000049205&amp;g=5575.0000049205&amp;u='+urlencode(this.href));" target="_blank" title="트와이스, 12개월 연속 기부천사...누적금액 1등은 강다니엘·방탄소년단"><strong class="hl">트와이스</strong>, 12개월 연속 기부천사...누적금액 1등은 강다니엘·방탄소년단</a>,
 <a class="_sp_each_title" href="http://sports.chosun.com/news/ntype.htm?id=201906170100116670008090&amp;servicedate=20190617" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=11&amp;i=880000D3_000000000000000003430043&amp;g=076.0003430043&amp;u='+urlencode(this.href));" target="_blank" title="'스테이지K' 트와이스·아이콘·슈주 4강 진출…최후의 승자는?">'스테이지K' <strong class="hl">트와이스</strong>·아이콘·슈주 4강 진출…최후의 승자는?</a>,
 <a class="_sp_each_url _sp_each_title" href="http://www.welfarenews.net/news/articleView.html?idxno=69483" onclick="return goOtherCR(this, 'a=nws*f.tit&amp;r=16&amp;i=8800062B_000000000000000000039398&amp;g=5111.0000039398&amp;u='+urlencode(this.href));" target="_blank" title="트와이스 팬, 익명으로 소아암 치료비 기부"><strong class="hl">트와이스</strong> 팬, 익명으로 소아암 치료비 기부</a>,
 <a class="_sp_each_url _sp_each_title" href="https://www.insight.co.kr/news/232628" onclick="return goOtherCR(this, 'a=nws*f.tit&amp;r=17&amp;i=88172c03_000000000000000000101209&amp;g=5486.0000101209&amp;u='+urlencode(this.href));" target="_blank" title="단체로 샤랄라한 '여신' 드레스 입고 '세젤예' 미모 뽐낸 트와이스">단체로 샤랄라한 '여신' 드레스 입고 '세젤예' 미모 뽐낸 <strong class="hl">트와이스</strong></a>,
 <a class="_sp_each_title" href="http://biz.heraldcorp.com/view.php?ud=201906162207168236546_1" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=18&amp;i=88000110_000000000000000003176669&amp;g=112.0003176669&amp;u='+urlencode(this.href));" target="_blank" title="[포인트1분] 트와이스, 스웨덴 팀 응원...'에너지 가득 충전'">[포인트1분] <strong class="hl">트와이스</strong>, 스웨덴 팀 응원...'에너지 가득 충전'</a>,
 <a class="_sp_each_title" href="http://www.tvreport.co.kr/?c=news&amp;m=newsview&amp;idx=1133248" onclick="return goOtherCR(this, 'a=nws*e.tit&amp;r=20&amp;i=880002E4_000000000000000001112223&amp;g=213.0001112223&amp;u='+urlencode(this.href));" target="_blank" title="트와이스 다현, 비현실적 만찢녀"><strong class="hl">트와이스</strong> 다현, 비현실적 만찢녀</a>,
 <a class="_sp_each_title" href="http://isplus.live.joins.com/news/article/aid.asp?aid=23090148" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=21&amp;i=880002FC_000000000000000002925970&amp;g=241.0002925970&amp;u='+urlencode(this.href));" target="_blank" title="[포토] 트와이스 '모모는 쇄골미인'">[포토] <strong class="hl">트와이스</strong> '모모는 쇄골미인'</a>,
 <a class="_sp_each_title" href="http://www.newsen.com/news_view.php?uid=201906161035053510" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=23&amp;i=8818ae45_000000000000000000124417&amp;g=609.0000124417&amp;u='+urlencode(this.href));" target="_blank" title="트와이스 쯔위 ‘배꼽도 예쁜 미녀’[포토엔HD]"><strong class="hl">트와이스</strong> 쯔위 ‘배꼽도 예쁜 미녀’[포토엔HD]</a>,
 <a class="_sp_each_title" href="http://isplus.live.joins.com/news/article/aid.asp?aid=23090149" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=28&amp;i=880002FC_000000000000000002925971&amp;g=241.0002925971&amp;u='+urlencode(this.href));" target="_blank" title="[포토] 트와이스 미나 '똘망 눈망울'">[포토] <strong class="hl">트와이스</strong> 미나 '똘망 눈망울'</a>]

In [70]:
news_dict={
    'title':[],
    'href':[]
}
for a in t_url:
    news_dict['title'].append(a.text)
    news_dict['href'].append(a['href'])
news_dict

{'title': ['트와이스, 방콕 점령…월드투어 공연 성공적으로 마쳐',
  '트와이스, 12개월 연속 기부천사...누적금액 1등은 강다니엘·방탄소년단',
  "'스테이지K' 트와이스·아이콘·슈주 4강 진출…최후의 승자는?",
  '트와이스 팬, 익명으로 소아암 치료비 기부',
  "단체로 샤랄라한 '여신' 드레스 입고 '세젤예' 미모 뽐낸 트와이스",
  "[포인트1분] 트와이스, 스웨덴 팀 응원...'에너지 가득 충전'",
  '트와이스 다현, 비현실적 만찢녀',
  "[포토] 트와이스 '모모는 쇄골미인'",
  '트와이스 쯔위 ‘배꼽도 예쁜 미녀’[포토엔HD]',
  "[포토] 트와이스 미나 '똘망 눈망울'"],
 'href': ['http://www.munhwa.com/news/view.html?no=20190617MW14292352585',
  'http://www.slist.kr/news/articleView.html?idxno=87710',
  'http://sports.chosun.com/news/ntype.htm?id=201906170100116670008090&servicedate=20190617',
  'http://www.welfarenews.net/news/articleView.html?idxno=69483',
  'https://www.insight.co.kr/news/232628',
  'http://biz.heraldcorp.com/view.php?ud=201906162207168236546_1',
  'http://www.tvreport.co.kr/?c=news&m=newsview&idx=1133248',
  'http://isplus.live.joins.com/news/article/aid.asp?aid=23090148',
  'http://www.newsen.com/news_view.php?uid=201906161035053510',
  'http://isplus.live.joins.com/news/article/aid.asp?aid=23090149']}

In [ ]:
import pandas as pd
news_df=pd.DataFrame

In [10]:
news=[]
count=[]
for li



len(t_ul.contents)

for i in range(t_ul)

print(t_ul[0].text, end = '\n')

SyntaxError: invalid syntax (<ipython-input-10-5096663f4c6d>, line 3)